/* ----- Main page ------*/

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.container-fluid {
    height: 100vh;
}

.whiteText {
    color: white;
}

.filterDivs {
    width: 100%;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
    border: 1px solid white;
}

.glyphicon {
    cursor: pointer;
    font-size: 12px;
}

.contentRow {
    height: 100vh;
}

#logo {
    color: #fafafa;
    font-size: 2em;
    text-align: center;
    padding-top: 30px;
    line-height: 1em;
}

/* ----- Search field and buttons ------*/

#search-field {
    background-image: url(../images/search-icon.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
    width: 200px;
}

.searchFilterCointainer {
    background-color: #2699FB;
    
        padding-bottom: 10px;
}

.searchElements {
    font-size: 13px;
    border: 1px solid white;
    box-shadow: 1px 1px 2px #888888;
    border-radius: 5px;
}

#search-btn {
    background-color: white;
    padding: 8px 0px 8px 0px;
    margin-left: 15px;
    width: 32%;
}

#resetButton {
    background-color: #2699FB;
    color: white;
    margin-left: 5px;
    padding: 8px 15px 8px 15px;
    width: 25%;
}

#search-field {
    background-color: white;
    width: 100%;
    padding: 12px 20px 12px 20px;
    margin: 50px 0px 20px 0px;
}

/* ----- Current filters ------*/

h4 {
    margin-left: 10px;
    font-weight: normal;
}

.currentFiltersDiv {
    /*height: 20%;*/
}

.filterParagraph {
    display: inline-block;
    font-size: 13px;
}

.glyphicon-remove {
    margin: 0px 10px 0px 10px;
}

/* ----- Year filter ------*/

.yearDivHeight {
    /*height: 32%;*/
}

.yearFilterDiv h4 {
    display: inline-block;
}

.glyphicon-arrow-down {
    margin: 10px 10px 0px 0px;
    font-size: 13px;
}

.glyphicon-arrow-up {
    margin: 10px 10px 0px 0px;
    font-size: 13px;
}

.yearFilterDiv input {
    margin: 0px 10px 0px 10px;
}

.pNumbers {
    margin-right: 30px;
}

.yearForm {
    display: block;
}

/* -----Keywords filter ------*/

.keywordFilterHeight {
    /*height: 15%;*/
}

.keywordFilterHeight1 {
    height: auto;
}

.keywordsFilterDiv h4 {
    display: inline-block;
}

.keywordsFilterDiv p {
    margin: 0px 10px 5px 10px;
    display: block;

}

/* ----- overview files fields ------*/

h5 {
    font-size: 14px;
    color: darkgray;
    display: inline-block;
    font-weight: bold;
}

hr {
    margin: 0px 15px 30px 15px;
    border-top: 1px solid darkgray;
}

.filedivbox {
    display: inline;
    width: 15%;
}

.viewHeadings {
    margin: 50px 0px 0px 20px;
}

.fileType {
    text-align: center;
}

.fileTitle {
    margin-right: 0%;
}

.viewHeadlines {
    margin: 0;
}

.keywords {
    display: inline;
    color: white;
}

/* ----- files ------*/

.maincontent {
    height: 80%;
}

.fileBox {
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
    margin: 0px 15px 20px 15px;
    border: 1px solid darkgray;
}

.fileInfo {
    color: darkgray;
    display: inline-block;
}

.fileLink {
    font-weight: bold;
}

.glyphicon-plus-sign {
    font-size: 20px;
    color: #2699FB;
    margin-right: 10px;
}


/* ----- Page bottom ------*/

.displayCount {
    margin: 60px 0px 20px 20px;
}

.displayCount p {
    display: inline-block;
    color: darkgray;
    font-size: 12px;
}

.displayCount span:nth-child(2) {
    margin-left: 30%;
    color: darkgray;
}

.displayCount span:nth-child(4) {
    margin-right: 30%;
    color: darkgray;
}


/* -----Mobile phone adjustments ------*/

@media only screen and (max-width: 1300px) {

    .viewHeadlines {
        margin: 0px 60px 0px 60px;
    }

}


@media only screen and (max-width: 1200px) {

    .viewHeadlines {
        margin: 0px 40px 0px 40px;
    }

    .col-xs-2 {
        padding: 0px;
    }

    .col-xs-1 {
        padding: 0px;
    }

    .col-xs-5 {
        padding: 0px;
    }

    .col-xs-4 {
        padding: 0px;
    }
}

@media only screen and (max-width: 832px) {

    .fileInfo {
        font-size: 2.1vw;
    }

    .fileLink {
        font-size: 2.1vw;
    }

    .fileTitle {
        margin-right: 1%;
    }

    .fileType {
        text-align: center;
    }

    .displayCount span:nth-child(4) {
        margin-right: 20%;
    }

    .displayCount span:nth-child(2) {
        margin-left: 20%;
    }
    .searchFilterCointainer {
        background-color: #2699FB;
    }
}

@media only screen and (max-width: 555px) {


    .viewHeadlines {
        margin: 0px 20px 0px 20px;
    }


    .displayCount span:nth-child(2) {
        margin-left: 5%;
    }

    .displayCount span:nth-child(4) {
        margin-right: 5%;
    }
}

@media only screen and (max-width: 440px) {

    .viewHeadlines {
        margin: 0px 5px 0px 5px;
    }

    .fileBox {
        margin: 5px 1px 5px 1px;
    }
}

@media only screen and (min-width:992px) {
    .searchFilterCointainer {
        height: 100vh;
    }
}

/* -----Placeholder css for all browsers ------*/

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: darkgray;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: darkgray;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: darkgray;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: darkgray;
}